{% load static %}
<nav class="ms-nav">
  <div class="ms-container ms-nav-row">
    <a href="/" class="ms-brand-link">
  <div class="ms-brand">
    <img src="{% static 'img/logo.png' %}" alt="Magic Space" class="ms-logo">
    <span>Magic Space</span>
  </div>
</a>

    <button class="ms-nav-toggle" aria-label="Menu">
      ☰
    </button>
    <div class="ms-nav-links">

  <div class="dropdown">
    <a href="/dula/" class="dropdown-toggle">Dula</a>
    <div class="dropdown-menu">
      <a href="/dula/kontrakcie/">Kontrakcie</a>
      <a href="/dula/cerrada/">Cerrada</a>
      <a href="/dula/porodny-kurz/">Pôrodný kurz</a>
    </div>
  </div>

  <a href="/jogamartin/">Joga v Parku</a>
  <a href="/korp/">Firemná Joga</a>
  <a href="/o-mne/">O mne</a>
  <a href="/kontakt/">Kontakt</a>
</div>

  </div>
</nav>